/* When we don't set border-left-color, color of a text is used as a default */
.one {
  color: #6CC644;
  border-left: medium solid;
}

/* When we don't set border-left-style, default style <none> will be used - therefore 
no border will be rendered */
.two {
  border-left: 1px red;
}

/* Other border-left style example */
.three {
  border-left: dotted 2px red;
}
